@import 'tailwindcss';

@config '../../../tailwind.config.js';

@layer base {
  * {
    @apply relative min-w-0 font-sans;
  }

  body {
    @apply min-h-dvh antialiased;
  }

  h1 {
    @apply m4e-heading-1;
  }

  h2 {
    @apply m4e-heading-2;
  }

  h3 {
    @apply m4e-heading-3;
  }

  h4 {
    @apply m4e-heading-4;
  }

  p {
    @apply font-sans text-pretty;
  }

  *:focus {
    @apply outline-1 outline-offset-8;
  }

  *:focus:not(:focus-visible) {
    @apply outline-0 outline-offset-0;
  }

  .disable-blur {
    image-rendering: pixelated;
  }
}

@layer components {
  .ds-grid {
    @apply relative mx-auto grid w-full max-w-[1076px] grid-cols-12 gap-x-4 px-4 md:px-6;
  }
}

/* We need a utility here to make md:sd-subgrid possible. Using a breakpoint with components does not work */
@utility sd-subgrid {
  @apply grid grid-cols-subgrid gap-x-4;
}

@utility m4e-heading-1 {
  @apply mb-[0.35em] font-sans text-xl/6 text-balance md:text-4xl/10;
}

@utility m4e-heading-2 {
  @apply mb-[0.35em] font-sans text-xl/6 text-balance md:text-3xl/8;
}

@utility m4e-heading-3 {
  @apply mb-[0.5em] font-sans text-base/7 text-balance md:text-xl/6;
}

@utility m4e-heading-4 {
  @apply mb-[0.3em] font-sans text-sm sm:text-lg md:text-lg;
}

/* Custom classes to always be generated */

/* .my-custom-class {
  @apply font-bold color-grey-100;
} */

@font-face {
  font-family: 'IBM Plex Sans';
  font-display: swap;
  font-style: normal;
  font-weight: 100 700;
  font-stretch: 85% 100%;
  src: url('/fonts/IBMPlexSans-variable.ttf') format('truetype-variations');
}

/* Animations */

.v-enter-active,
.v-leave-active {
  @apply transition-opacity duration-500;
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0;
}

.page-enter-active,
.page-leave-active {
  @apply transition-all duration-300;
}

.page-enter-from,
.page-leave-to {
  @apply opacity-0 blur-xs;
}
